body {
  margin: 0;
  font-family: sans-serif;
  background: #1300CE;
  background: -moz-linear-gradient(top, #1300CE 0%, #9600FF 32%, #FF00CF 100%);
  background: -webkit-linear-gradient(top, #1300CE 0%, #9600FF 32%, #FF00CF 100%);
  background: linear-gradient(to bottom, #1300CE 0%, #9600FF 32%, #FF00CF 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

